.uno {background-color: rgb(255, 99, 71);}
.dos {background-color: #ff6347;}
.tres {background-color: hsl(9, 100%, 64%);}
.cuatro {background-color: rgba(255, 99, 71, 0.5);}
.cinco {background-color: hsla(9, 100%, 64%, 0.5);}